<ngb-carousel #carousel>
    <ng-template ngbSlide *ngFor="let img of images; index as i" class="carousel-inner">
        <div class="carousel-item active" style="height: 90vh">
            <a [href]="img.link" target="_blank" rel="nofollow noopener noreferrer">
                <img [src]="img.src" [alt]="img.desc" class="d-block w-100" style="object-fit: contain;">
            </a>
            <div class="carousel-caption">
                <h3>{{img.desc}}</h3>
            </div>
        </div>
    </ng-template>
</ngb-carousel>